<div class="posts__header">
    <div class="posts__category">
        {% for category in page.categories %}
            {% if category != 'featured' %}
                {% for cat in site.pages %}
                    {% if category == cat.section_name %}
                        <a class="posts__category-link" href="/{{ category }}/">{{ cat.anchortext | escape }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

    <span class="posts__date">Published {{ page.date | date_to_string }}</span>

    <a class="posts__title" href="{{ page.url | relative_url }}">
        <h2 class="posts__headline js--title">{{ page.title | escape }}</h2>
    </a>

    <div class="posts__splash">
        {% if page.videosplash %}
            {% if page.videosplash contains "facebook" %}
            <div 
                class="fb-video" 
                data-href="{{ page.videosplash }}" 
                data-width="1000" 
                data-show-text="false">
            </div>
            {% else %}
                <div class="posts__splash-video">
                    <iframe src="{{ page.videosplash }}" 
                        width="1000" 
                        style="border:none;overflow:hidden" 
                        scrolling="no" 
                        frameborder="0" 
                        allowTransparency="true" 
                        allowFullScreen="true">
                    </iframe>
                </div>
            {% endif %}
        {% elsif page.splash %}
            <img class="posts__splash-img" data-src="{{ page.splash }}" alt="{{ page.title | escape }}" />
            {% if page.splash_credits_title %}
                {% if page.splash_credits_url %}
                    <a href="{{page.splash_credits_url}}" class="posts__splash-credit" target="_blank">{{ page.splash_credits_title }}</a>
                {% else %}
                    <span class="posts__splash-credit">{{ page.splash_credits_title }}</span>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>