$site-bg: #EFF0EA;

/*header*/
$header-bg: #5EA281;
$header-logo: #fff;
$header-logo-span: inherit;
$header-link: #fff;
$header-link-hover: #47715A;
$header-link-active: #47715A;
$header-hamburger: #fff;

/*drawer*/
$drawer-bg: #fff;
$drawer-link: #444;
$drawer-link-hover: #5EA281;
$drawer-link-active: #5EA281;
$drawer-overlay-bg: rgba(0,0,0,.4);

/*sidebar*/
$sidebar-title: #5EA281;

/*featured posts*/
$posts-featured-title: #444;
$posts-featured-title-hover: #5EA281;

/*main posts*/
$posts-category: #444;
$posts-category-hover: #5EA281;
$posts-date: #c2c2c2;
$posts-title: #4f4c3f;
$posts-title-hover: #5EA281;
$posts-body: #222;
$posts-body-link: #222;
$posts-body-link-hover: #5EA281;
$posts-share-bg: #5EA281;
$posts-share-hover-bg: #47715A;
$posts-share-icon: #fff;
$posts-share-icon-hover: #fff;


/*palceholder posts*/
$posts-placeholder-bg: #eee;
$posts-placeholder-bg-anim: #ddd;