// Colors
$white: #fff;
$black: #000;

$gray: #EBEDF3;
$gray-darker: #BFC2C9;
$border-gray: #DDDEE4;
$header-gray: #F2F3F6;

$text-light: #87899D;
$text-dark: #34495E;

$blue: #00e;
$quill-blue: #06c;
$midnight: #2C3E50;

$yellow: #ffff7a;

$green: #27ae60;

$bg-placeholder: #efefef;