/*header*/
/*drawer*/
/*sidebar*/
/*featured posts*/
/*main posts*/
/*palceholder posts*/
.posts-featured {
  margin-bottom: 20px; }

.posts-featured__title {
  color: #444;
  font-size: 13px;
  display: block; }

.posts-featured__title:hover {
  color: #5EA281; }

.posts-featured__headline {
  display: inline-block;
  margin: 0 5px 0 0; }

.posts-featured__date {
  white-space: nowrap;
  font-size: 14px; }
