<header class="header" role="banner">
    <div class="grid">
        <a class="header__logo" href="{{ "/" | relative_url}}">{{site.logo_html}}</a>

        <nav class="header__nav">
            <ul>
            {% include partials/sections.html %}
            </ul>
        </nav>
    </div>
</header>

<input type="checkbox" id="drawer-trigger" />

<label class="btn--icon-hamburger" for="drawer-trigger"></label>

<div class="drawer drawer--open">
    <nav class="drawer__nav">
        <ul>
            <li>
                <a href="{{ "/" | relative_url}}" {% if page.anchortext == my_page.anchortext %}class="is-active"{% endif %}>Home</a>
            </li>
            {% include partials/sections.html %}
        </ul>
    </nav>
</div>

<label class="drawer__overlay" for="drawer-trigger"></label>
