{% capture metaDescription %}
    {% if page.meta_description %}
        {{ page.meta_description }}
    {% elsif page.excerpt %}
        {{ page.excerpt }}
    {% else %}
        {{ site.description }}
    {% endif %}
{% endcapture %}
{% assign metaDescription = metaDescription | normalize_whitespace | strip_html | truncate: 160 | escape %}
{% capture metaTitle %}
    {% if page.title %}
        {{ page.title | escape }}
    {% else %}
        {{ site.title | escape }}
    {% endif %}
{% endcapture %}
{% capture metaImage %}{% if page.splash %}{% if page.splash contains "http" %}{{ page.splash }}{% else %}{{site.url}}{{ page.splash }}{% endif %}{% else %}{{site.url}}{{site.imgfolder}}{{ site.splash }}{% endif %}{% endcapture %}
{% capture pageURL %}{{ page.url | replace:'index.html','' | absolute_url }}{% endcapture %}

<!-- TODO
add site.splash
amp canonical
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <title>{{ metaTitle }}</title>
    <meta name="description" content="{{ metaDescription | normalize_whitespace }}">

    <meta property="og:url" content="{{ pageURL }}">
    <meta property="og:type" content="website">
    <meta property="fb:admins" content="{{site.facebook_admin}}"/>
    <meta property="fb:app_id" content="{{site.facebook_appid}}"/>
    <meta property="og:title" content="{{ metaTitle }}">
    <meta property="og:description" content="{{ metaDescription | normalize_whitespace }}">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:image" content="{{ metaImage }}">
    <meta property="og:image:type" content="image/jpeg" />

    <meta name="twitter:card" content="summary_large_image">
    {% if site.twitter_username %}
    <meta name="twitter:site" content="@{{site.twitter_username}}">
    {% endif %}
    <meta name="twitter:url" content="{{ pageURL }}">
    <meta name="twitter:title" content="{{ metaTitle }}">
    <meta name="twitter:description" content="{{ metaDescription | normalize_whitespace }}">
    <meta name="twitter:image" content="{{ metaImage }}">
    <meta name="twitter:image:src" content="{{ metaImage }}">

    {% if page.layout == 'post' %}
        {% if site.twitter_username %}
        <meta name="twitter:creator" content="@{{site.twitter_username}}">
        {% endif %}
    <meta property="og:type" content="article" />
    <meta itemprop="name" content="{{ metaTitle }}">
    <meta itemprop="description" content="{{ metaDescription | normalize_whitespace }}">
    <meta itemprop="image" content="{{ metaImage }}">
        {% if page.amp %}
        <link rel="amphtml" href="{{site.url}}/amp{{ page.url | replace:'index.html','' | relative_url }}">
        {% endif %}
    {% endif %}

    <link rel="canonical" href="{{pageURL}}">

    {% include partials/css.html %}
</head>