{%- assign META_URL = page.url | replace:'index.html','' | absolute_url -%}

{%- capture OG_TYPE -%}
    {%- if page.layout == 'post' -%}
        article
    {%- else -%}
        website
    {%- endif -%}
{%- endcapture -%}

{%- capture OG_IMAGE -%}
    {%- if page.splash.image -%}
        {{ page.splash.image | absolute_url }}
    {%- elsif site.image -%}
        {{ site.image | absolute_url }}
    {%- else -%}
        false
    {%- endif -%}
{%- endcapture -%}

{%- capture META_TITLE -%}
    {%- if page.metaTitle -%}
        {{ page.metaTitle }}
    {%- elsif page.title -%}
        {{ page.title }}
    {%- else -%}
        {{ site.title }}
    {%- endif -%}
{%- endcapture -%}
{%- assign META_TITLE = META_TITLE | normalize_whitespace | strip_html | truncate: 70 | escape -%}

{%- capture META_DESCRIPTION -%}
    {%- if page.metaDescription -%}
        {{ page.metaDescription }}
    {%- elsif page.excerpt -%}
        {{ page.excerpt }}
    {%- else -%}
        {{ site.description }}
    {%- endif -%}
{%- endcapture -%}
{%- assign META_DESCRIPTION = META_DESCRIPTION | normalize_whitespace | strip_html | truncate: 160 | escape -%}


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">

    {%- if site.theme_color -%}
    <meta name="theme-color" content="{{ site.theme_color }}">
    <meta name="msapplication-navbutton-color" content="{{ site.theme_color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ site.theme_color }}">
    {%- endif -%}

    <title>{{ META_TITLE }}</title>
    <meta name="description" content="{{ META_DESCRIPTION }}">

    <meta property="og:type" content="{{ OG_TYPE }}">
    <meta property="og:title" content="{{ META_TITLE }}">
    <meta property="og:description" content="{{ META_DESCRIPTION }}">
    <meta property="og:url" content="{{ META_URL }}">

    {%- if OG_IMAGE != 'false' -%}
    <meta property="og:image" content="{{ OG_IMAGE }}">
    {%- endif -%}

    {%- if site.name -%}
    <meta property="og:site_name" content="{{ site.name }}">
    {%- endif -%}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ META_TITLE }}">
    <meta name="twitter:description" content="{{ META_DESCRIPTION }}">
    <meta name="twitter:url" content="{{ META_URL }}">
    {%- if OG_IMAGE != 'false' -%}
    <meta name="twitter:image" content="{{ OG_IMAGE }}">
    {%- endif -%}

    {%- if site.twitter_site -%}
    <meta name="twitter:site" content="@{{ site.twitter_site }}">
    {%- endif -%}

    {%- if site.google_site_verification -%}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
    {%- endif -%}

    <link rel="canonical" href="{{ META_URL }}">
    <link rel="shortcut icon" href="{{ "favicon.ico" | absolute_url }}" />


