<article class="posts {% for category in page.categories %}posts--{{ category | escape }} {% endfor %}"
         data-url="{{ page.url | absolute_url }}"
         data-relurl="{{ page.url | relative_url }}"
         data-splash="{% if page.splash %}{{ page.splash }}{% else %}{{ site.splash }}{% endif %}"
         data-url-processed="{{urlProcessed}}">

    {% include partials/posts/header.html %}

    <div class="posts__body">
        {{ page.content | split:site.excerpt_separator | first }}

        {% if page.content contains site.excerpt_separator %}
        <div class="posts__readmore">
            <div class="posts__readmore-container">
                {{ page.content | split:site.excerpt_separator | last }}
            </div>
            <button class="posts__readmore-btn js--readmore">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use>
                </svg>
            </button>
        </div>
        {% endif %}
    </div>

    <div class="posts__footer">
        <ul class="posts__sharebar">
            <li>
                <a class="js-sharer icon-facebook" data-service="Facebook" href="javascript:;" title="Share on Facebook">
                    <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
                </a>
            </li>
            <li>
                <a class="js-sharer icon-twitter" data-service="Twitter" href="javascript:;" title="Tweet">
                    <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
                </a>
            </li>
            <li>
                <a class="js-sharer icon-google-plus" data-service="Google+" href="javascript:;" title="Share on Google+">
                    <svg class="icon"><use xlink:href="#icon-google-plus"></use></svg>
                </a>
            </li>
            <li>
                <a class="js-sharer icon-tumblr" data-service="Tumblr" href="javascript:;" title="Post to Tumblr">
                    <svg class="icon"><use xlink:href="#icon-tumblr"></use></svg>
                </a>
            </li>
            <li>
                <a class="js-sharer icon-pinterest" data-service="Pinterest" href="javascript:;" title="Pin it">
                    <svg class="icon"><use xlink:href="#icon-pinterest2"></use></svg>
                </a>
            </li>
            <li>
                <a class="js-sharer icon-reddit" data-service="Reddit" href="javascript:;" title="Submit to Reddit">
                    <svg class="icon"><use xlink:href="#icon-reddit"></use></svg>
                </a>
            </li>
        </ul>
    </div>

</article>
