<article class="posts {% for category in page.categories %}posts--{{ category | escape }} {% endfor %}">

    <div class="posts__header">
        <div class="posts__meta">
            <div class="posts__meta-category">
                {% for category in page.categories %}
                {% if category != 'featured' %}
                <a class="posts__meta-category-link" href="/{{ category }}/">{{ category | escape }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <span class="posts__date">{{ page.date | date_to_string }}</span>
        </div>

        <a class="posts__title" href="{{ page.url | relative_url }}">
            <h2 class="posts__headline">{{ page.title | escape }}</h2>
        </a>

        {% if page.splash %}
        <div class="posts__splash">
            <amp-img class="posts__splash-img" src="/assets/posts_img/{{ page.splash }}" alt="{{ page.title | escape }}" width="1258" height="500" layout="responsive"></amp-img>
        </div>
        {% endif %}
    </div>

    <div class="posts__body">
        {{ page.content }}
    </div>

    <div class="posts__footer">
        <ul class="posts__sharebar">
            <li>
                <amp-social-share type="facebook" data-param-app_id="254325784911610"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="twitter"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="gplus"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="tumblr"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="pinterest"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="email"></amp-social-share>
            </li>
        </ul>
    </div>

</article>