<article class="posts {% for category in page.categories %}posts--{{ category | escape }} {% endfor %}">

    {% include partials/posts/header.html %}

    <div class="posts__body">
        {{ page.content }}
    </div>

    <div class="posts__footer">
        <ul class="posts__sharebar">
            <li>
                <amp-social-share type="facebook" data-param-app_id="254325784911610"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="twitter"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="gplus"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="tumblr"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="pinterest"></amp-social-share>
            </li>
            <li>
                <amp-social-share type="email"></amp-social-share>
            </li>
        </ul>
    </div>

</article>