---
---

@import "theme";

.header {
    background: $header-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 44px;
    text-align: center;
}

.header__logo {
    display: inline-block;
    color: $header-logo;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -1px;
}
.header__logo span {
    color: $header-logo-span;
}

.header__nav {
    display: none;
    line-height: 43px;
    float: right;
}

.header__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav li {
    display: inline-block;
    padding-left: 15px;
}

.header__nav li:first-child {
    padding-left: 0;
}

.header__nav a {
    font-size: 13px;
    color: $header-link;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.4px;
}

.header__nav a:hover {
    color: $header-link-hover;
}

.header__nav a.is-active {
    color: $header-link-active;
}

/*Hamburger Menu*/
.btn--icon-hamburger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 50px;
    height: 44px;
    cursor: pointer;
}
.btn--icon-hamburger::before {
    content: '';
    position: absolute;
    background: $header-hamburger;
    top: 50%;
    margin-top: -1px;
    left: 43%;
    width: 35%;
    height: 2px;
    box-shadow: 0 -6px 0 $header-hamburger, 0 6px 0 $header-hamburger;
    transition: all 150ms;
}
.btn--icon-hamburger:hover::before {
    box-shadow: 0 -4px 0 $header-hamburger, 0 4px 0 $header-hamburger;
}

/*Drawer*/
.drawer {
    display: block;
    -ms-transform: translate(-275px,0);
    -webkit-transform: translate(-275px,0);
    -moz-transform: translate(-275px,0);
    transform: translate(-275px,0);
    transition: all 150ms;
    width: 235px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10001;
    background-color: $drawer-bg;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 20px 0;
}

.drawer__nav ul {
    margin: 0;
    padding: 0;
}
.drawer__nav li {
    display: block;
}
.drawer__nav a {
    line-height: 40px;
    color: $drawer-link;
    font-weight: 600;
    font-size: 14px;
    display: block;
}
.drawer__nav a:hover {
    color: $drawer-link-hover;
}
.drawer__nav a.is-active {
    color: $drawer-link-active;
}

.drawer__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: none;
    background: $drawer-overlay-bg;
    z-index: 10000;
}

#drawer-trigger:checked ~ .drawer {
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
}

#drawer-trigger:checked ~ .drawer__overlay {
    display: block;
}

@media (min-width:768px) {
    .header {
        text-align: left;
    }
    .header__logo {
        vertical-align: middle;
        margin-left: 39px;
    }
    .header__nav {
        display: inline-block;
    }
}

@media (min-width:1024px) {
    .header {
        padding: 26px 0 10px;
    }
    .header__logo {
        margin-left: 0;
    }
    .header__nav li {
        padding-left: 30px;
    }
    .btn--icon-hamburger,
    .drawer,
    .drawer__overlay {
        display: none!important;
    }
}
