---
---

@import "theme";

body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #eee;
}

a,
a:hover {
    text-decoration: none;
}

/*GENERAL*/
main {
    margin-top: 44px;
}
.grid {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1380px;
    overflow: hidden;
}

.main-column {
    width: 100%;
    box-sizing: border-box;
}
.secondary-column {
    display: none;
    width: 300px;
}

.horizontal-list {
    font-size: 0;
}

/*
.image {
    background-color: #000;
    background-image: url('/assets/img/default-avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 100%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 100%);
}

.ad--300x {
    width: 300px;
    min-height: 250px;
    background: #FB971F;
    margin-bottom: 40px;
}
*/

@media (min-width:768px) {
    .grid {
        padding-left: 20px;
        padding-right: 20px;
    }
    main {
        margin-top: 64px;
    }
}

@media (min-width:1024px) {
    main {
        margin-top: 110px;
    }
    .secondary-column {
        display: block;
    }
    .main-column {
        margin-left: -340px;
        padding-left: 340px;
        float: right;
    }
}
