---
---

@import "theme";

.posts-featured {
    margin-bottom: 20px;
}

.posts-featured__title {
    color: $posts-featured-title;
    font-size: 13px;
    display: block;
}

.posts-featured__title:hover {
    color: $posts-featured-title-hover;
}

.posts-featured__headline {
    display: inline-block;
    margin: 0 5px 0 0;
}

.posts-featured__date {
    white-space: nowrap;
    font-size: 14px;
}