---
---
.posts-featured {
    margin-bottom: 20px;
}

.posts-featured__title {
    color: {{site.css_primary_color}};
    font-size: 13px;
    display: block;
}

.posts-featured__title:hover {
    margin: 100px;
    color: {{site.css_secondary_color}};
}

.posts-featured__headline {
    display: inline-block;
    margin: 0 5px 0 0;
}

.posts-featured__date {
    white-space: nowrap;
    font-size: 14px;
}
