---
---

@import "theme";

.sidebar {
    position: fixed;
}

.secondary-headline {
    text-transform: uppercase;
    color: #32c4d9;
    margin: 0 0 20px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

.secondary-headline:not(:first-child) {
    margin-top: 40px;
}

.sidebar__twitter-follow,
.sidebar__facebook-follow {
    border: 0;
    overflow: hidden;
    vertical-align: top;
    height: 22px;
}
