/* line 1, _editor/styles/_reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 5, _editor/styles/_reset.scss */
html, body, div, span, applet, object, iframe, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, pre {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 26, _editor/styles/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
/* line 31, _editor/styles/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, _editor/styles/_reset.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* line 41, _editor/styles/_reset.scss */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/* line 47, _editor/styles/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 51, _editor/styles/_reset.scss */
img {
  border-style: none;
  max-width: 100%;
}

/* line 56, _editor/styles/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 60, _editor/styles/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 66, _editor/styles/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 71, _editor/styles/_reset.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 78, _editor/styles/_reset.scss */
[hidden] {
  display: none;
}

/* line 1, _editor/styles/_base.scss */
html, body {
  background: #EBEDF3;
  font: 400 12px/16px "Open Sans", arial, sans-serif;
  height: 100%;
  color: #34495E;
}

/* line 8, _editor/styles/_base.scss */
::-webkit-input-placeholder, .field-richtext [contenteditable]:empty::before {
  font: italic 400 13px/16px 'Lora';
  color: #BFC2C9;
}
::-ms-input-placeholder, .field-richtext [contenteditable]:empty::before {
  font: italic 400 13px/16px 'Lora';
  color: #BFC2C9;
}
::placeholder, .field-richtext [contenteditable]:empty::before {
  font: italic 400 13px/16px 'Lora';
  color: #BFC2C9;
}

/* line 13, _editor/styles/_base.scss */
body {
  padding-top: 90px;
}

/* line 17, _editor/styles/_base.scss */
strong {
  font-weight: 600;
}

/* line 21, _editor/styles/_base.scss */
.link {
  color: #00e;
}

/* line 25, _editor/styles/_base.scss */
.info {
  color: #888;
}

/* line 29, _editor/styles/_base.scss */
.block {
  display: block;
}

/* line 33, _editor/styles/_base.scss */
.inline {
  display: inline-block;
}

/* line 37, _editor/styles/_base.scss */
.align-right {
  text-align: right;
}

/* line 41, _editor/styles/_base.scss */
.icon {
  width: 12px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

/* line 48, _editor/styles/_base.scss */
.color--green {
  color: #27ae60;
}

/* line 52, _editor/styles/_base.scss */
.color--gray {
  color: #87899D;
}

/* line 56, _editor/styles/_base.scss */
[v-cloak] {
  display: none;
}

/*
 * Media query shorthand, to be used with variables from $site-breakpoints
 * Defaults to min-width
 * 
 * Usage: @include mq(lg, min/max(optional) ) { ... }
 */
/* line 18, _editor/styles/layout/_wrapper.scss */
.wrapper {
  background: #fff;
  border-top: 1px solid #DDDEE4;
  min-height: 100%;
  margin-left: 200px;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 32px;
  padding-left: 4px;
  padding-right: 4px;
}
@media (min-width: 768px) {
  /* line 18, _editor/styles/layout/_wrapper.scss */
  .wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 1024px) {
  /* line 18, _editor/styles/layout/_wrapper.scss */
  .wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1440px) {
  /* line 18, _editor/styles/layout/_wrapper.scss */
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*
 * Generate grid rows
 * 
 * $row-class defines the row classname. E.G. .row
 * $column-gutter sets the negative margins for each defined breakpoint.
 * 
 */
/* line 25, _editor/styles/layout/_row.scss */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
@media (min-width: 768px) {
  /* line 25, _editor/styles/layout/_row.scss */
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}
@media (min-width: 1024px) {
  /* line 25, _editor/styles/layout/_row.scss */
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media (min-width: 1440px) {
  /* line 25, _editor/styles/layout/_row.scss */
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

/*
 * Generate grid cols
 * 
 */
/* line 24, _editor/styles/layout/_columns.scss */
.row > * {
  padding-left: 4px;
  padding-right: 4px;
  /*
   * Default columns stretch to equal width if no other classes specified.
   */
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

@media (min-width: 768px) {
  /* line 24, _editor/styles/layout/_columns.scss */
  .row > * {
    padding-left: 8px;
    padding-right: 8px;
    /*
     * Default columns stretch to equal width if no other classes specified.
     */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}
@media (min-width: 1024px) {
  /* line 24, _editor/styles/layout/_columns.scss */
  .row > * {
    padding-left: 12px;
    padding-right: 12px;
    /*
     * Default columns stretch to equal width if no other classes specified.
     */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}
@media (min-width: 1440px) {
  /* line 24, _editor/styles/layout/_columns.scss */
  .row > * {
    padding-left: 16px;
    padding-right: 16px;
    /*
     * Default columns stretch to equal width if no other classes specified.
     */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}
/* line 45, _editor/styles/layout/_columns.scss */
.col-1 {
  width: 8.3333333333%;
  max-width: 8.3333333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-2 {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-3 {
  width: 25%;
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-4 {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-5 {
  width: 41.6666666667%;
  max-width: 41.6666666667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-6 {
  width: 50%;
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-7 {
  width: 58.3333333333%;
  max-width: 58.3333333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-8 {
  width: 66.6666666667%;
  max-width: 66.6666666667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-9 {
  width: 75%;
  max-width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-10 {
  width: 83.3333333333%;
  max-width: 83.3333333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-11 {
  width: 91.6666666667%;
  max-width: 91.6666666667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
}

/* line 45, _editor/styles/layout/_columns.scss */
.col-12 {
  width: 100%;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 768px) {
  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-1 {
    width: 8.3333333333%;
    max-width: 8.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-2 {
    width: 16.6666666667%;
    max-width: 16.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-3 {
    width: 25%;
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-4 {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-5 {
    width: 41.6666666667%;
    max-width: 41.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-6 {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-7 {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-8 {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-9 {
    width: 75%;
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-10 {
    width: 83.3333333333%;
    max-width: 83.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-11 {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-md-12 {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 1024px) {
  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-1 {
    width: 8.3333333333%;
    max-width: 8.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-2 {
    width: 16.6666666667%;
    max-width: 16.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-3 {
    width: 25%;
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-4 {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-5 {
    width: 41.6666666667%;
    max-width: 41.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-6 {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-7 {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-8 {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-9 {
    width: 75%;
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-10 {
    width: 83.3333333333%;
    max-width: 83.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-11 {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-lg-12 {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 1440px) {
  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-1 {
    width: 8.3333333333%;
    max-width: 8.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-2 {
    width: 16.6666666667%;
    max-width: 16.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-3 {
    width: 25%;
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-4 {
    width: 33.3333333333%;
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-5 {
    width: 41.6666666667%;
    max-width: 41.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-6 {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-7 {
    width: 58.3333333333%;
    max-width: 58.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-8 {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-9 {
    width: 75%;
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-10 {
    width: 83.3333333333%;
    max-width: 83.3333333333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-11 {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }

  /* line 45, _editor/styles/layout/_columns.scss */
  .col-xl-12 {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
/* line 2, _editor/styles/partials/_forms.scss */
[type="text"] {
  border: 0;
  font: inherit;
  line-height: 22px;
  padding: 0;
  outline: 0;
}
/* line 9, _editor/styles/partials/_forms.scss */
[type="text"]:focus {
  border-color: #000;
}
/* line 13, _editor/styles/partials/_forms.scss */
[type="text"][disabled] {
  background: #EBEDF3;
}

/* line 19, _editor/styles/partials/_forms.scss */
.field-richtext [contenteditable] {
  font: 400 12px/1.6 'Open Sans', sans-serif;
  width: 100%;
  outline: 0;
  cursor: text;
}
/* line 25, _editor/styles/partials/_forms.scss */
.field-richtext [contenteditable]:empty::before {
  content: attr(placeholder);
}
/* line 30, _editor/styles/partials/_forms.scss */
.field-richtext [contenteditable].size--large {
  font: 700 32px/1.6 'Lora', serif;
}
/* line 33, _editor/styles/partials/_forms.scss */
.field-richtext [contenteditable].size--large:empty::before {
  font: inherit;
  font-style: italic;
}
/* line 39, _editor/styles/partials/_forms.scss */
.field-richtext [contenteditable].size--medium {
  font: 700 20px/1.6 'Lora', serif;
}
/* line 42, _editor/styles/partials/_forms.scss */
.field-richtext [contenteditable].size--medium:empty::before {
  font: inherit;
  font-style: italic;
}

/* line 50, _editor/styles/partials/_forms.scss */
select, [type="datetime-local"] {
  border: 1px solid #DDDEE4;
  line-height: 24px;
  padding: 3px 5px;
  outline: 0;
  font: inherit;
}
/* line 57, _editor/styles/partials/_forms.scss */
select:focus, [type="datetime-local"]:focus {
  border-color: #000;
}

/* line 62, _editor/styles/partials/_forms.scss */
.field-select__placeholder {
  color: #BFC2C9;
}

/* line 66, _editor/styles/partials/_forms.scss */
[type="datetime-local"] {
  font-size: 11px;
}

/* line 73, _editor/styles/partials/_forms.scss */
.field-checkbox label {
  cursor: pointer;
  display: block;
  margin: 8px 0;
}
/* line 79, _editor/styles/partials/_forms.scss */
.field-checkbox__title {
  display: block;
}
/* line 82, _editor/styles/partials/_forms.scss */
.field-checkbox__title::before {
  content: ' ';
  margin-right: 8px;
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  border: 1px solid #DDDEE4;
  border-radius: 3px;
}
/* line 96, _editor/styles/partials/_forms.scss */
.field-checkbox input[type="checkbox"] {
  display: none;
}
/* line 99, _editor/styles/partials/_forms.scss */
.field-checkbox input[type="checkbox"]:checked ~ .field-checkbox__title::before {
  content: '\2713';
  background: #27ae60;
  border-color: #27ae60;
  color: #fff;
}

/* line 1, _editor/styles/partials/_buttons.scss */
button,
.button {
  outline: 0;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #DDDEE4;
  background: -webkit-gradient(linear, left top, left bottom, from(#2FC06D), to(#27ae60));
  background: linear-gradient(#2FC06D, #27ae60);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  border-color: #229653;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: left;
}
/* line 21, _editor/styles/partials/_buttons.scss */
button:active,
.button:active {
  top: 1px;
}
/* line 25, _editor/styles/partials/_buttons.scss */
button .icon,
.button .icon {
  width: 14px;
  top: 3px;
}
/* line 30, _editor/styles/partials/_buttons.scss */
button.button--full,
.button.button--full {
  width: 100%;
  text-align: center;
}
/* line 35, _editor/styles/partials/_buttons.scss */
button.button--danger,
.button.button--danger {
  background: -webkit-gradient(linear, left top, left bottom, from(#e74c3c), to(#ce4436));
  background: linear-gradient(#e74c3c, #ce4436);
  border-color: #a5372c;
}
/* line 40, _editor/styles/partials/_buttons.scss */
button.button--warn,
.button.button--warn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff66), to(#a7a73b));
  background: linear-gradient(#ffff66, #a7a73b);
  border-color: #c1c156;
  color: black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
/* line 47, _editor/styles/partials/_buttons.scss */
button.button--reset,
.button.button--reset {
  background: 0;
  border: 0;
  padding: 0;
}
/* line 53, _editor/styles/partials/_buttons.scss */
button.button--neutral,
.button.button--neutral {
  color: #777d94;
}

/* line 1, _editor/styles/partials/_header.scss */
header {
  background: #2C3E50;
  padding: 17px 20px;
  color: #fff;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}

/* line 1, _editor/styles/partials/_listing.scss */
.listing {
  margin-bottom: 32px;
}
/* line 4, _editor/styles/partials/_listing.scss */
.listing .row > :last-child:not(:only-child),
.listing .row > :last-child:not(:only-child) > * {
  text-align: right;
}
/* line 9, _editor/styles/partials/_listing.scss */
.listing__header {
  line-height: 13px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  color: #777D94;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #F2F3F6;
  -webkit-box-shadow: inset 0 1px 0 #fff;
          box-shadow: inset 0 1px 0 #fff;
}
/* line 20, _editor/styles/partials/_listing.scss */
.listing__header:not(:first-child) {
  border-top: 1px solid #DDDEE4;
}
/* line 24, _editor/styles/partials/_listing.scss */
.listing__header--actions {
  padding-top: 16px;
  padding-bottom: 16px;
}
/* line 30, _editor/styles/partials/_listing.scss */
.listing__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #DDDEE4;
  border-bottom: 1px solid #DDDEE4;
  margin-bottom: -1px;
}
/* line 38, _editor/styles/partials/_listing.scss */
.listing__row > :last-child {
  text-align: right;
  white-space: nowrap;
}
/* line 44, _editor/styles/partials/_listing.scss */
.listing .js--sort-handle {
  display: inline-block;
  padding: 4px 5px 6px;
  line-height: 0;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 12px 0 -5px;
}
/* line 52, _editor/styles/partials/_listing.scss */
.listing .js--sort-handle .icon {
  margin: 0;
}
/* line 56, _editor/styles/partials/_listing.scss */
.listing .js--sort-handle:hover, .listing .js--sort-handle:active {
  -webkit-box-shadow: 0 0 0 1px #DDDEE4;
          box-shadow: 0 0 0 1px #DDDEE4;
}
/* line 60, _editor/styles/partials/_listing.scss */
.listing .js--sort-handle:hover .icon, .listing .js--sort-handle:active .icon {
  opacity: .6;
}
/* line 66, _editor/styles/partials/_listing.scss */
.listing__title {
  font-weight: 700;
  font-size: 13px;
}
/* line 71, _editor/styles/partials/_listing.scss */
.listing__list li {
  display: inline-block;
}
/* line 74, _editor/styles/partials/_listing.scss */
.listing__list li:not(:last-child) {
  padding-right: 16px;
}

/* line 1, _editor/styles/partials/_sidebar.scss */
.sidebar {
  width: 200px;
  position: fixed;
  top: 91px;
  bottom: 0;
  border-right: 1px solid #DDDEE4;
}
/* line 8, _editor/styles/partials/_sidebar.scss */
.sidebar > * {
  padding: 0 16px;
}
/* line 12, _editor/styles/partials/_sidebar.scss */
.sidebar__header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DDDEE4;
}
/* line 18, _editor/styles/partials/_sidebar.scss */
.sidebar__footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}
/* line 25, _editor/styles/partials/_sidebar.scss */
.sidebar h3 {
  margin: 11px 0;
  text-transform: uppercase;
  font-size: 11px;
  color: #000;
}
/* line 32, _editor/styles/partials/_sidebar.scss */
.sidebar__nav {
  color: #87899D;
  line-height: 32px;
}
/* line 36, _editor/styles/partials/_sidebar.scss */
.sidebar__nav a {
  display: block;
  position: relative;
}
/* line 40, _editor/styles/partials/_sidebar.scss */
.sidebar__nav a:hover {
  color: #34495E;
}
/* line 44, _editor/styles/partials/_sidebar.scss */
.sidebar__nav a:active {
  top: 1px;
}
/* line 48, _editor/styles/partials/_sidebar.scss */
.sidebar__nav a.is--active {
  color: #34495E;
  font-weight: 600;
}
/* line 52, _editor/styles/partials/_sidebar.scss */
.sidebar__nav a.is--active::after {
  content: '';
  display: inline-block;
  border: 4px solid transparent;
  border-left-color: #34495E;
  position: absolute;
  right: -12px;
  top: 12px;
}

/* line 1, _editor/styles/partials/_notice.scss */
.notice {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ffff7a;
  padding: 5px 20px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  text-align: center;
  display: none;
}

/* line 16, _editor/styles/partials/_notice.scss */
.notice--error {
  background: -webkit-gradient(linear, left top, left bottom, from(#e74c3c), to(#ce4436));
  background: linear-gradient(#e74c3c, #ce4436);
  color: #fff;
}

/* line 1, _editor/styles/ee/_ee.scss */
.ee {
  padding: 32px 16px;
  /* Display Permalink */
  /* Splash Image */
}
/* line 4, _editor/styles/ee/_ee.scss */
.ee__actions {
  position: fixed;
  top: 12px;
  right: 20px;
  z-index: 1100;
}
/* line 10, _editor/styles/ee/_ee.scss */
.ee__actions > * {
  margin-left: 8px;
}
/* line 16, _editor/styles/ee/_ee.scss */
.ee .row > :first-child {
  max-width: 900px;
}
/* line 20, _editor/styles/ee/_ee.scss */
.ee .row > :last-child {
  width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
/* line 27, _editor/styles/ee/_ee.scss */
.ee .ee__article-permalink {
  height: 24px;
  line-height: 24px;
  margin: -15px 0 27px;
}
/* line 32, _editor/styles/ee/_ee.scss */
.ee .ee__article-permalink h3 {
  margin-right: 5px;
}
/* line 36, _editor/styles/ee/_ee.scss */
.ee .ee__article-permalink span {
  color: #87899D;
  font: italic 400 14px/14px Lora;
}
/* line 43, _editor/styles/ee/_ee.scss */
.ee .js--upload-localfile {
  display: inline-block;
}
/* line 47, _editor/styles/ee/_ee.scss */
.ee__upload-button {
  background: #EBEDF3;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 5px;
  cursor: pointer;
}
/* line 55, _editor/styles/ee/_ee.scss */
.ee__upload-button:hover {
  color: #06c;
}
/* line 58, _editor/styles/ee/_ee.scss */
.ee__upload-button:hover svg {
  opacity: .3;
}
/* line 63, _editor/styles/ee/_ee.scss */
.ee__upload-button svg {
  opacity: .1;
  display: block;
  margin: auto;
  width: 70px;
  height: 100%;
  top: 0;
  bottom: 0;
}
/* line 73, _editor/styles/ee/_ee.scss */
.ee__upload-button input {
  display: none;
}
/* line 78, _editor/styles/ee/_ee.scss */
.ee figure {
  position: relative;
  display: block;
  background: #F9FBFE;
}
/* line 83, _editor/styles/ee/_ee.scss */
.ee figure img {
  display: block;
  cursor: url("/svg/trash-2-red.svg"), auto;
  margin: 0 auto;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
/* line 95, _editor/styles/ee/_ee.scss */
.ee figure img:hover {
  opacity: .2;
}
/* line 101, _editor/styles/ee/_ee.scss */
.ee__module {
  margin-bottom: 32px;
}
/* line 104, _editor/styles/ee/_ee.scss */
.ee__module h3 {
  margin: 0 0 8px;
  text-transform: uppercase;
  font-size: 11px;
  color: #000;
}

/* line 1, _editor/styles/ee/_quill.scss */
#editor {
  /* Prevent page 'jump' on copy-paste */
}
/* line 2, _editor/styles/ee/_quill.scss */
#editor .ql-container {
  height: auto;
  font-family: 'Lora', serif;
  font-size: 16px;
  border-color: #DDDEE4;
}
/* line 9, _editor/styles/ee/_quill.scss */
#editor .ql-editor {
  min-height: 250px;
}
/* line 14, _editor/styles/ee/_quill.scss */
#editor .ql-clipboard {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
/* line 23, _editor/styles/ee/_quill.scss */
#editor .ql-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 10;
  background: #fff;
  border-color: #DDDEE4;
}
/* line 30, _editor/styles/ee/_quill.scss */
#editor .ql-toolbar .js--upload-localfile {
  float: left;
}
/* line 34, _editor/styles/ee/_quill.scss */
#editor .ql-toolbar .upload-localfile {
  display: inline-block;
  height: 24px;
  padding: 3px 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* line 41, _editor/styles/ee/_quill.scss */
#editor .ql-toolbar .upload-localfile input {
  display: none;
}
/* line 45, _editor/styles/ee/_quill.scss */
#editor .ql-toolbar .upload-localfile:hover {
  color: #06c;
}
/* line 51, _editor/styles/ee/_quill.scss */
#editor .ql-toolbar .ql-formats button {
  color: #000;
}
/* line 54, _editor/styles/ee/_quill.scss */
#editor .ql-toolbar .ql-formats button:hover {
  color: #06c;
}
/* line 59, _editor/styles/ee/_quill.scss */
#editor .ql-toolbar .ql-formats svg {
  width: 18px;
  height: 18px;
}
/* line 67, _editor/styles/ee/_quill.scss */
#editor-body p {
  margin-bottom: 20px;
}
/* line 71, _editor/styles/ee/_quill.scss */
#editor-body figure {
  margin: 20px 0;
}
/* line 75, _editor/styles/ee/_quill.scss */
#editor-body img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 180px);
}
