.author-card {
  font-size: 13px;
}

.author-card__header {
  text-align: center;
  margin: 0 -30px;
  padding: 20px 30px 35px;
  border-bottom: 1px solid $line-color;
}

.author-card__avatar {
  width: 110px;
  border-radius: 50%;
  margin: 0 0 17px;
}

.author-card__name {
  font-size: 14px;
  margin: 0 0 5px;
}

.author-card__website,
.author-card__social {
  color: $author-card-link;
  display: block;
}

.author-card__social {
  margin-top: 25px;
}

.author-card__social-icon {
  fill: $author-card-link;
  width: 18px;
  height: 18px;
  vertical-align: top;
  margin-right: 10px;
}
.author-card__social:hover .author-card__social-icon {
  fill: currentColor;
}
