body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: $site-bg;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
  color: $default-hover;
}

.hidden {
    display: none;
}

.allcaps {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 18px;
}

/*GENERAL*/
main {
    margin-top: 44px;
    position: relative;
    font-size: 0;
}
.grid {
    max-width: 1520px;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.main-column {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width:768px) {
    .grid {
        margin: 0 20px;
    }
    main {
        margin-top: 64px;
    }
}

@media (min-width:1024px) {
    main {
        margin-top: 110px;
    }
    .main-column {
        margin-left: -300px;
        padding-left: 330px;
        display: inline-block;
        vertical-align: top;
    }
    .sidebar.sidebar--left {
        display: inline-block;
    }
}
@media (min-width:1360px) {
    .main-column {
        margin-right: -300px;
        padding-right: 330px;
        display: inline-block;
        vertical-align: top;
    }
    .sidebar.sidebar--right {
        display: inline-block;
    }
}
@media (min-width:1640px) {
    .grid {
        margin: 0 auto;
    }
}