.posts-featured {
    margin-bottom: 20px;
}

.posts-featured:last-child {
    margin-bottom: 0;
}

.posts-featured__title {
    color: $posts-featured-title;
    font-size: 13px;
    display: block;
}

.posts-featured__headline {
    margin: 0;
}

.posts-featured__date {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 5px;
    color: $posts-featured-date;
    font-size: 13px;
    letter-spacing: -0.4px;
}