.posts {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid $line-color;
    border-width: 1px 0;
}

.posts__header {
  overflow: hidden;
}

.posts__author {
  color: $posts-author-name;
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
  overflow: hidden;
}
.posts__author-name {
  font-weight: 700;
  line-height: 20px;
}
.posts__author-avatar {
  float: left;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.posts__author-cta {
  display: block;
  color: $posts-author-cta;
}

.posts__category {
    margin-bottom: 20px;
}
.posts__category-link {
    color: $posts-category;
    margin-right: 5px;
}

.posts__category-link:hover {
    color: $posts-category-hover;
}

.posts__category-link:not(:last-child)::after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: $posts-category;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 7px;
}

.posts__date {
    color: $posts-date;
    font-size: 13px;
    letter-spacing: -0.4px;
    float: right;
    margin-bottom: 20px;
    padding-left: 10px;
}

.posts__title {
    color: $posts-title;
    margin: 0 0 30px;
    padding-bottom: 20px;
    display: block;
    border-bottom: 1px solid $line-color;
    clear: both;
}

.posts__title:hover {
    color: $posts-title-hover;
}

.posts__headline {
    margin: 0;
    font-size: 18px;
}

.posts__splash {
    font-size: 0;
    position: relative;
    margin: 10px 0 30px;
}
.posts__splash-credit {
    font-size: 10px;
    line-height: 20px;
    display: block;
    color: $posts-body-link;
}
a.posts__splash-credit:hover {
    color: $posts-body-link-hover; 
}
.posts__splash-img {
    max-width: 100%;
    display: block;
}
.posts__splash-video {
    position: relative;
    padding-top: 56.25%;
    height: 0;
}
.posts__splash-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fb-video:not([fb-xfbml-state="rendered"]) {
    padding-top: 56.25%;
}
.fb-video:not([fb-xfbml-state="rendered"]),
.posts__splash-video {
    background: $site-bg;
}

.posts__body {
    font: 16px/1.6 'Lora', serif;
    color: $posts-body;
}

.posts__body p {
    margin: 0 0 20px;
}

.posts__body img,
.posts__body iframe {
    max-width: 100%;
}

.posts__body a {
    color: $posts-body-link;
    background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient($posts-body-link,$posts-body-link);
    background-size: .05em 1px,.05em 1px,1px 1px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    background-position: 0 95%,100% 95%,0 95%;
}
.posts__body a:hover {
    color: $posts-body-link-hover;
}

.posts__body blockquote {
    font-style: italic;
    font-size: 18px;
    padding: 0 0 0 20px;
    margin: 30px 0;
    color: $posts-blockquote-color;
    border-left: 5px solid $posts-blockquote-border;
}

.posts__footer {
  border-top: 1px solid #F3F3F3;
  margin-top: 30px;
  padding-top: 30px;
}
/*Posts Read More*/
.posts__readmore {}
.posts__readmore-btn {
    background: none;
    color: $posts-readmore-color;
    cursor: pointer;
    outline: 0;
    border: 0;
    display: block;
    margin: 0 auto 20px;
    border-radius: 3px;
    font: 600 13px/40px 'Open Sans';
}
.posts__readmore-btn:after {
    content: $posts-readmore-text;
}
.posts__readmore-btn svg {
    width: 13px;
    height: 7px;
    margin-right: 5px;
    fill: none;
    stroke: $posts-readmore-color;
}
.posts__readmore,
.is--expanded .posts__readmore-btn {
    display: none;
}
.is--expanded .posts__readmore {
    display: block;
}

/*Posts Sharebar*/
.posts__sharebar {
    text-align: right;
    font-size: 0;
    padding: 0;
    margin: 0;
    float: right;
    width: 100%;
}
.posts__sharebar li {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 16.6666%;
}
.posts__sharebar a {
    padding: 12px 0;
    display: block;
    background: $posts-share-bg;
    color: $posts-share-color;
    text-align: center;
}

.posts__sharebar a:hover {
    color: #fff;
}
.posts__sharebar .icon-facebook:hover {
  background: #3B5998;
}
.posts__sharebar .icon-twitter:hover {
  background: #1DA1F2;
}
.posts__sharebar .icon-google-plus:hover {
  background: #DB4437;
}
.posts__sharebar .icon-tumblr:hover {
  background: #35465c;
}
.posts__sharebar .icon-pinterest:hover {
  background: #BD081C;
}
.posts__sharebar .icon-reddit:hover {
  background: #ff4500;
}
.posts__sharebar .icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

@media (min-width:500px) {
  .posts__readmore-btn {
    background: $posts-readmore-bg;
    padding: 0 20px;
    display: inline-block;
    margin: 0;
  }
  .posts__sharebar {
    width: auto;
  }
  .posts__sharebar li {
    width: 40px;
  }
}

@media (min-width:768px) {
    .posts {
        margin-bottom: 30px;
    }
}
@media (min-width:1024px) {
    .posts {
        border-width: 1px;
        padding: 20px 29px;
    }
}
