.sidebar {
    position: relative;
    z-index: 1;
    width: 300px;
    display: none;
    vertical-align: top;
}

.sidebar--left {}
.sidebar--right {}

.sidebar__container {
    width: 300px;
    overflow: hidden;
}

.sidebar__container--fixed {
    position: fixed;
}

.sidebar__section {
    padding: 20px 30px;
    border: 1px solid $line-color;
    margin-bottom: 30px;
    background: $sidebar-background;
}

.secondary-headline {
    padding-bottom: 15px;
    border-bottom: 1px solid $line-color;
    margin: 0 0 20px;
    color: $sidebar-title;
}

.sidebar__twitter-follow,
.sidebar__facebook-follow {
    border: 0;
    overflow: hidden;
    vertical-align: top;
    height: 22px;
}