---
# Only the main Sass file needs front matter (the dashes are enough)
---

$site-bg: #F7F8FA;
$line-color: #F3F3F3;
$default-hover: #a9a9a9;

/*only used for templating _theme*/
$primary: #444;
$secondary: #4D88F9;
$light: #BFC2C9;

/*header*/
$header-bg: #fff;
$header-logo: $primary;
$header-logo-span: inherit;
$header-link: $primary;
$header-link-hover: $default-hover;
$header-link-active: $header-link-hover;
$header-hamburger: $header-link;

/*drawer*/
$drawer-bg: #fff;
$drawer-link: $primary;
$drawer-link-hover: $default-hover;
$drawer-link-active: $default-hover;
$drawer-overlay-bg: rgba(0,0,0,.4);

/*sidebar*/
$sidebar-title: $secondary;
$sidebar-background: #fff;
$author-card-link: $light;

/*featured posts*/
$posts-featured-title: $primary;
$posts-featured-title-hover: $default-hover;
$posts-featured-date: $light;

/*featured authors*/
$featured-author-name: $primary;

/*main posts*/
$posts-author-name: $primary;
$posts-author-cta: $light;
$posts-category: $secondary;
$posts-category-hover: $default-hover;
$posts-date: $light;
$posts-title: $primary;
$posts-title-hover: $default-hover;
$posts-body: #222;
$posts-body-link: $secondary;
$posts-body-link-hover: $default-hover;
$posts-blockquote-color: #777;
$posts-blockquote-border: $secondary;
$posts-readmore-text: 'Read Full Article';
$posts-readmore-bg: $site-bg;
$posts-readmore-color: $primary;
$posts-share-bg: $site-bg;
$posts-share-color: $primary;

/*spinner*/
$spinner: $secondary;
$spinner-style: 0;

@import "infinitescroll";