{% for category in page.categories %}
    {% for cat in site.pages %}
        {% if category == cat.section_name and 
              cat.iscreator and
              sectionName != cat.section_name %}
            <a class="posts__author" href="/{{ category }}/">
                <span class="posts__author-avatar" style="background-image:url('{{cat.creator_avatar}}')"></span>
                <span class="posts__author-name">{{ cat.creator_name | escape }}</span>
                <span class="posts__author-cta">View Featured Profile &raquo;</span>
            </a>
        {% endif %}
    {% endfor %}
{% endfor %}