<ul class="posts__sharebar">
    <li>
        <a class="js-sharer icon-facebook" data-service="Facebook" href="javascript:;" title="Share on Facebook">
            <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
        </a>
    </li>
    <li>
        <a class="js-sharer icon-twitter" data-service="Twitter" href="javascript:;" title="Tweet">
            <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    </li>
    <li>
        <a class="js-sharer icon-google-plus" data-service="Google+" href="javascript:;" title="Share on Google+">
            <svg class="icon"><use xlink:href="#icon-google-plus"></use></svg>
        </a>
    </li>
    <li>
        <a class="js-sharer icon-tumblr" data-service="Tumblr" href="javascript:;" title="Post to Tumblr">
            <svg class="icon"><use xlink:href="#icon-tumblr"></use></svg>
        </a>
    </li>
    <li>
        <a class="js-sharer icon-pinterest" data-service="Pinterest" href="javascript:;" title="Pin it">
            <svg class="icon"><use xlink:href="#icon-pinterest2"></use></svg>
        </a>
    </li>
    <li>
        <a class="js-sharer icon-reddit" data-service="Reddit" href="javascript:;" title="Submit to Reddit">
            <svg class="icon"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    </li>
</ul>