.fredoka,
.headline,
h1,
h2,
h3
h4,
h5,
h6 {
  font-family: 'Fredoka One';
  font-weight: 400;
  line-height: 1.4;
}

.headline {
  &--large {
    font-size: 32px;
    margin: 3vh 0;
  }

  &--section {
    font-size: 24px;
    margin-top: 72px;
  }
}

@include mq(md) {
  .headline {
    &--large {
      font-size: 48px;
    }

    &--section {
      font-size: 32px;
      margin-top: 96px;
    }
  }
}

@include mq(xl) {
  .headline {
    &--large {
      font-size: 64px;
    }
  }
}
