---
layout: default
---

{% assign urlProcessed = true %}
{% include posts.html %}

{% assign urlProcessed = false %}
{% assign currentPostUrl = page.url %}
{% assign postsPerPage = site.pagination.per_page %}

{% for page in site.posts %}
    {% if forloop.index < postsPerPage %}
        {% if currentPostUrl != page.url %}
            {% include posts.html %}
        {% endif %}
        {% if currentPostUrl == page.url %}
            {% assign postsPerPage = postsPerPage | plus: 1 %}
        {% endif %}
    {% endif %}
{% endfor %}