---
layout: default
---

{% assign sectionName = page.section_name | downcase %}
{% assign posts_limit = 0 %}

{% for page in site.posts %}
    {% if posts_limit < site.pagination.per_page %}
        {% for cat in page.categories %}
            {% assign catName = cat | downcase %}
            {% if catName == sectionName %}
                {% assign posts_limit = posts_limit | plus: 1 %}
                {% include posts.html %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
